<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nueva Playlist ha sido creada</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<p>Hola estimado(a) <span th:text="${userName}"></span>,</p>

<p>
    Que bueno que estés usando nuestra app, te informamos que se ha creado una nueva playlist en tu cuenta
</p>
<p>
    El nombre de tu playlist es <span th:text="${playlistName}">
</p>
<p>
    Si tienes alguna pregunta o necesitas asistencia, no dudes en ponerte en contacto con nuestro equipo de soporte respondiendo a este correo.
</p>

<p>
    Escucha musica con nosotros yei!<br />
    <em>El equipo de la hackaton</em>
</p>
</body>
</html>